<!DOCTYPE html>
<html>
	<head>
		<title>Geo Fence Modeling</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/bower/bootstrap-table/dist/bootstrap-table.min.css" />
		<link rel="stylesheet" href="/css/dist/lib-css.min.css" />
		<script src="/bower/jquery/dist/jquery.min.js"></script>
		<script src="/bower/moment/min/moment.min.js"></script>
		<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower/bootstrap-table/dist/bootstrap-table.min.js"></script>
		<script src="/bower/vue/dist/vue.min.js"></script>
		<script src="/bower/lodash/dist/lodash.min.js"></script>
		<script src="/js/dist/common-components.min.js"></script>
		<% if (isGoogleMap) { %>
		<script src="https://maps.googleapis.com/maps/api/js?key=<%= mapKey %>&libraries=drawing,places&callback=initMap" async defer></script>
		<script src="/js/dist/google/main-component.min.js"></script>
		<% } else { %>
		<link rel="stylesheet" href="/bower/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" href="/bower/leaflet-draw/dist/leaflet.draw.css" />
		<link rel="stylesheet" href="/css/lib/leaflet-geosearch.css" />
		<script src="/bower/leaflet/dist/leaflet.js"></script>
		<script src="/bower/leaflet-draw/dist/leaflet.draw.js"></script>
		<script src="/js/lib/leaflet-geosearch.min.js"></script>
		<script src="/js/dist/osm/main-component.min.js" defer></script>
		<% } %>
	</head>
	<body id="body">
		<div id="map" class="col-md-6"></div>
		<div class="col-md-6" style="height: 100%; overflow: auto;">
			<div class="text-center">
				<a href="/dashboard" v-if="osm">Switch to Google Map</a>
				<a href="/dashboard?osm=true" v-else>Switch to Open Street Map</a>
			</div>
			<table id="geoFenceTable"></table>
			<div id="geoFenceTableToolbar" class="form-inline">
				<% if (isGoogleMap) { %>
				<input id="tfAddress" class="form-control" type="text" placeholder="Enter address" />
				<% } %>
			</div>
		</div>
		<%- include ./common/dialogs.ejs %>
	</body>
</html>
